* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #0e0d0d;
}
.box {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  top: 2em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 20px;
  border-left: palevioletred solid 0.5em;
}

.navbar {
  display: flex;
  list-style: none;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
}

.nav-element {
  padding-right: 30px;
}

.image1 {
  height: 500px;
  width: 1150px;
}

.text {
  position: relative;
  top: -10em;
  font-size: 2em;
  text-align: center;
  color: white;
}

.laptop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Easy {
  height: 200px;
  width: 250px;
  margin-top: -100px;
  padding: 2em;
  padding-bottom: 0%;
}

.Easy1 {
  height: 200px;
  width: 250px;
  margin-top: -100px;
  padding: 2em;
  padding-bottom: 0%;
}

.Easy2 {
  height: 200px;
  width: 250px;
  margin-top: -100px;
  padding: 2em;
  padding-bottom: 0%;
}

#one {
  background-color: red;
  text-align: center;
  font-size: 18px;
}

#two {
  background-color: yellowgreen;
  text-align: center;
  font-size: 18px;
}

#three {
  background-color: orangered;
  text-align: center;
  font-size: 18px;
}

.second {
  display: flex;
  justify-content: space-evenly;
  margin: 150px;
}

.img2 {
  height: 290px;
  width: 400px;
}

.startup {
  color: white;
  font-size: 20px;
}
input,
button {
  height: 40px;
  width: 120px;
  background-color: black;
  color: white;
  border: solid white;
  font-size: 15px;
  font-weight: 600;
}

.recent {
  color: white;
  text-align: center;
}

.pictures {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.apple {
  height: 250px;
  width: 400px;
}

.bat {
  height: 250px;
  width: 400px;
}

.cat {
  height: 250px;
  width: 400px;
}

.dat {
  height: 250px;
  width: 300px;
}

.eat {
  height: 250px;
  width: 300px;
}

.fat {
  height: 250px;
  width: 300px;
}

.gat {
  height: 250px;
  width: 300px;
}

.btn1 {
  height: 40px;
  width: 90px;
  background-color: black;
  color: white;
  margin-left: 600px;
  font-size: 15px;
  font-weight: 600;
}

.last {
  background-color: #272626;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.free {
  color: white;
  margin-top: 80px;
  margin-bottom: 70px;
}

.useful {
  color: white;
  margin-top: 80px;
  margin-bottom: 70px;
}

.news {
  color: white;
  margin-top: 80px;
  margin-bottom: 70px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 10em;
}

.fb {
  width: 30px;
  height: 30px;
  background-color: white;
}

.twitter {
  width: 30px;
  height: 30px;
  background-color: white;
}

.instagram {
  width: 30px;
  height: 30px;
  background-color: white;
}

.msg {
  width: 30px;
  height: 30px;
  background-color: white;
}

.phn {
  width: 30px;
  height: 30px;
  background-color: white;
}

#mail {
  padding: 0 13em 0 1em;
}

#side {
  margin-right: 1em;
}

#submit {
  font-size: 15px;
  font-weight: 600;
}
